<!-- Select category menu -->
<div class="category-nav">
  <mat-button-toggle-group>
    <mat-button-toggle value="all" (click)="selectCategory('all')">
      All
    </mat-button-toggle>
    <mat-button-toggle value="travel" (click)="selectCategory('travel')">
      Travel
    </mat-button-toggle>
    <mat-button-toggle value="lifestyle" (click)="selectCategory('lifestyle')">
      Lifestyle
    </mat-button-toggle>
    <mat-button-toggle value="business" (click)="selectCategory('business')">
      Business
    </mat-button-toggle>
    <mat-button-toggle value="food" (click)="selectCategory('food')">
      Food
    </mat-button-toggle>
    <mat-button-toggle value="work" (click)="selectCategory('work')">
      Work
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
