<!-- Category select -->
<app-categories (categorySelected)="filterCategory($event)"></app-categories>

<!-- Calls on floating button for adding new post -->
<app-form-add-post (newPostCreated)="storeNewPost($event)"></app-form-add-post>

<!-- Cards show on rows here -->
<div class="w3-row" *ngIf="!isLoading">
  <app-post
    *ngFor="let post of (posts | category: categoryToFilter)"
    class="w3-col s12 m6 post"
    [postObject]="post"
    (deleted)="deletePost($event)"
    (update)="updatePost($event)"
  ></app-post>
</div>

<div *ngIf="isLoading" class="loader">
  <mat-spinner></mat-spinner>
</div>