<!-- Popup modal -->
<div id="editModal" class="modal">
  <div align="center" class="modal-content">
    <span class="close" id="closeEdit">&times;</span>
    <h3>Edit post</h3>

    <!-- Update post form -->
    <form>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput name="title" [(ngModel)]="editingPost.title" type="text">
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput name="description" [(ngModel)]="editingPost.description" type="text">
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <select matNativeControl name="category" [(ngModel)]="editingPost.category" placeholder="Category">
          <option value="travel">Travel</option>
          <option value="lifestyle">Lifestyle</option>
          <option value="business">Business</option>
          <option value="food">Food</option>
          <option value="work">Work</option>
        </select>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input matInput name="imgUrl" [(ngModel)]="editingPost.image" type="text">
      </mat-form-field><br>
      <button mat-flat-button color="primary" type="submit" (click)="updatePost()">Save</button>
    </form>
  </div>
</div>