<!-- Floating button -->
<button class="editorButton" (click)="showModal()" mat-fab>
  <i class="fas fa-pen"></i>
</button>

<!-- Popup modal -->
<div id="myModal" class="modal">
  <div align="center" class="modal-content">
    <span class="close" id="close">&times;</span>
    <h3>Create post</h3>

    <!-- New post form -->
    <form [formGroup]="postForm">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" type="text">
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" type="text">
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Category</mat-label>
        <select matNativeControl formControlName="category" placeholder="Category">
          <option value="travel">Travel</option>
          <option value="lifestyle">Lifestyle</option>
          <option value="business">Business</option>
          <option value="food">Food</option>
          <option value="work">Work</option>
        </select>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="imgUrl" type="text">
      </mat-form-field><br>
      <button mat-flat-button color="primary" type="submit" [disabled]="!postForm.valid" (click)="savePost()">Save</button>
    </form>
  </div>
</div>

